/* CSS MAP
	=> Search by id
	------------------------
	id		|	name
	------------------------
	css_1		Pre-loader
	css_2		Custom background
	css_3		Nav bar css
	css_4		Main css
	css_5		section main
	css_6		section projects
	css_7		section about & contact
	css_8		footer css
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Hide scrollbar */
::-webkit-scrollbar {
    width: 0;
}

body {
    font-family: 'Baloo 2', cursive;
    background: #fff;
}

.text-center {
	text-align: center;
}

.my-btn {
	opacity: 0.8;
	padding: 5px 20px;
	outline: none;
	border: none;
	border: 1px solid #fff;
}
.my-btn:hover {
	opacity: 1;
}

.require-label:after {
	content: ' *';
	color: red;
}


/* css_1. ============= PRE-LOADER ============= */
.preload {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999999999999999;
    transition: opacity 1s ease 0.5s;
}

.preload h3 {
    position: absolute;
    top: 75%;
    transform: translateY(-75%);
    font-size: 20px;
    color: #333;
}

.preload img#airplane {
    width: 200px;
    animation: airplane 1s infinite alternate;
}

.preload .cloud1,
.preload .cloud2,
.preload .cloud3 {
    position: absolute;
    height: 80px;
    opacity: 0.6;
    right: 0%;
    transform: translateX(100%);
    z-index: -1;
}

.preload .cloud1 {
    top: 25%;
    transform: translateX(100%, -25%);
    animation: clouds 3s infinite 0s;
}

.preload .cloud2 {
    top: 50%;
    transform: translateX(100%, -50%);
    animation: clouds 3s infinite 1.5s;
}

.preload .cloud3 {
    top: 75%;
    transform: translateX(100%, -75%);
    animation: clouds 3s infinite 1s;
}

.preload-end {
    opacity: 0;
    pointer-events: none;
}

@keyframes airplane {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(25px);
    }
}

@keyframes clouds {
    from {
        right: 0%;
    }
    to {
        right: 130%;
    }
}

/* css_2. ======================== CUSTOM BACKGROUND ======================== */
#star {
	z-index: -1;
	background: url('../img/bg-main.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}
.cover,
#star{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 768px) {
	canvas {
		display: none
	}
}

/* css_3. ============= NAV BAR CSS ============= */
nav {
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	justify-content: space-around;
	align-items: center;
	background: rgba(26, 39, 45, 0.8);
	min-height: 50px;
	box-shadow: 0px 2px 2px 0px #888888; /* left top blur scale */
	line-height: 50px;
    z-index: 9999;
    transition: all 1s ease-in-out;
}

.brand {
	float: left;
	cursor: pointer;
	color: white;
	padding-left: 15px;
	font-size: 25px;
	font-weight: bold;
	transition: all 0.3s ease;
}

.brand:hover {
	text-shadow: 0px 0px 10px #ccc;
	color: #1596d3;
	transition: all 0.3s ease;
}
.brand:hover span {
	color: white;
	transition: all 0.3s ease;
}

.brand span {
	color: #1596d3;
}
.nav-links {
	float: right;
}

.nav-links li {
	list-style: none;
	display: inline-block;
	width: 120px;
	text-transform: uppercase;
	text-align: center;
}

.nav-links a {
	text-decoration: none;
	color: lightblue;
	transition: all 0.3s ease;
}

.nav-links li:hover a {
	color: #fff;
	border-bottom: 2px solid #fff;
	transition: all 0.3s ease-in-out;
}

.mobileBar {
	cursor: pointer;
	display: none;
	margin: 10px;
}

.mobileBar div {
	background: white;
	border-radius: 5px;
	width: 25px;
	height: 3px;
	margin: 5px;
	transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
	body {
		overflow-x: hidden;
	}

	.mobileBar {
		display: block;
		position: absolute;
		right: 10px;
	}

	.nav-links {
		position: absolute;
		top: 50px;
		height: calc(100vh - 50px);
		right: 0px;
		background:rgba(26, 39, 45, 0.8);
		text-align: center;
		justify-content: initial;
		width: 200px;
		transform: translateX(100%);
		transition: transform 0.2s ease-in;
	}

	.nav-links li {
		opacity: 1;
		margin: 20px 0px;
	}
}

.nav-active {
	transform: translateX(0%);
}
.toggle .bar1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .bar2 {
	opacity: 0;
}
.toggle .bar3 {
	transform: rotate(45deg) translate(-5px, -6px);	
}


/* css_4. ============= MAIN CSS HERE ============= */

.call-action {
	font-size: 45px;
	transition: all 0.5s ease;
	padding: 5px 0px;
	animation: callAction 0.5s infinite alternate;
}

.call-action a {
	color: white;
}

#typer {
	color: #1596d3;
}

@keyframes callAction {
	from {
		padding-top: 0px;
		padding-bottom: 10px;
	}
	to {
		padding-top: 10px;
		padding-bottom: 0px;
	}
}

section#home {
	width: 100%;
	height: 100%;
}

/* css_5. ================ SECTION MAIN ========================= */
section#home > div {
	height: 100vh;
	padding: 45vh 0px;
	text-align: center;
}

section#home h2 {
	text-align: center;
	font-size: 45px;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px 3px #999;
	z-index: 1;
}

.line-break {

	max-width: 120px;
	height: 2px;
	margin: 2px auto;
	background: #ccc;
	clear: both;
}

.em {
	color: #1596d3;
}

#tagLine {
	font-size: 22px;
	transform: scale(.8);
	transition: all 0.3s ease;
	color: #1596d3;
}

#tagLine:hover {
	transform: scale(1);
}

@media screen and (max-width: 768px) {
	section#home h2 {
		font-size: 35px;
	}
}

/* css_6. =============== SECTION PROJECTS ================ */
#projects {
	background: #1a272d;
}
#projects h3 {
	padding-top: 50px;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	color: white
}
#projects h3 span {
	border-bottom: 2px solid #1596d3;
}

#projects .project {
	width: 45%;
	height: 300px;
	margin: 2%;
	display: inline-block;
	border-radius: 10px;
}

#projects #prj01 { background: url('../img/projects/pr01.jpg'); background-size: cover; background-position: center center; }
#projects #prj02 { background: url('../img/projects/pr02.jpg'); background-size: cover; background-position: center center; }
#projects #prj03 { background: url('../img/projects/pr03.jpg'); background-size: cover; background-position: center center; }
#projects #prj04 { background: url('../img/projects/pr04.jpg'); background-size: cover; background-position: center center; }

#projects .project .content {
	text-align: center;
	color: white;
	font-size: 30px;
	background: #0008;
	padding: 126px 0px;
	border-radius: 10px;
	opacity: 0;
	transition: opacity 0.6s ease;
	cursor: pointer;
}

#projects #prj01:hover .content { opacity: 1; }

#projects #prj02:hover .content { opacity: 1; }

#projects #prj03:hover .content { opacity: 1; }

#projects #prj04:hover .content { opacity: 1; }


@media only screen and (max-width: 768px) {
	#projects .project {
		width: 96%;
		height: 284px;
	}
	#projects .project .content {
		font-size: 20px;
	}
}

/* css_7. =============== SECTION ABOUT & CONTACT ================ */
#contact {
	background: #333;
}

#contact .pure-group input, #contact .pure-group textarea {
	background: none;
	border-radius: 5px;
	outline: none;
}

#contact h3 {
	padding-top: 50px;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	color: white
}
#contact h3 span {
	border-bottom: 2px solid #1596d3;
}

#contact .half#profile .avar {
	background: url(../img/ava.jpg);
	background-size: cover;
	background-position: center center;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 5px auto;
	z-index: 2;
}

#contact .half#profile p {
	text-align: center;
	z-index: 1;
}

#contact .content {
	width: 100%;
	margin: 0 auto;
}

#contact .content .half {
	float: left;
	padding: 60px 2%;
	width: 46%;
	color: white;
}

@media screen and (max-width: 768px) {
	#contact .content .half {
		width: 100%;
	}

	#contact .content .half:first-child {
		margin-bottom: -60px;
	}
}

aside {
    background: #1f8dd6; /* same color as selected state on site menu */
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 2em;
}
textarea {
  width: 100%;
}
.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}
.is-center {
  text-align: center;
}
.button-success {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65); /* this is a green */
}
.button-xlarge {
  font-size: 125%;
}
button {
  float: right;
}
#name, #email {
  width: 100%;
}

/* css_8. =============== footer css ================ */

footer {
	clear: both;
	padding: 10px 0px;
	text-align: center;
	background: #000;
	color: #999;
}

.social-links a, .footer-links a {
	text-decoration: none;
	color: #ccc;
	padding: 5px 10px;
	background: #333;
	display: inline-block;
	width: 37px;
	height: 37px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #333;
	margin: 5px 5px;
}

.social-links a:hover, .footer-links a:hover {
	color: #fff;
	border: 1px solid #fff
}
