<!DOCTYPE html>
<html lang="en">
<head>
	<title>NVB 99 Official - Blog</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="../img/ava.jpg">
	<link rel="stylesheet" href="lib/angular/angular-material.min.css">
	<link rel="stylesheet" href="src/font-awesome/font-awesome.css">
	<link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="src/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Patrick+Hand&display=swap" rel="stylesheet">
	<meta property="og:url"           content="http://nvb99.github.io/" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="NVB 99 Official - Blog" />
	<meta property="og:description"   content="Nơi chia sẻ e vờ ry thing về cuộc sống của tuii!!" />
	<meta property="og:image"         content="src/img/post/default.jpg" />
</head>
<body class="body" ng-app="myApp" ng-controller="MyController">
	<div class="preload">
		<img src="/blog/src/img/loader.gif" width="250px" alt="Loading...">
	</div>
<div class="myWeb">
		<!-- Posts Section -->
		<div class="container" style="max-width: 500px; padding: 10px 0px 0px 0px; color: darkslategray; font-size: 30px; font-family: 'Patrick Hand', cursive;">
			<marquee behavior="scroll" direction="left">CHÀO MỪNG BẠN ĐẾN VỚI BLOG CỦA NVB 99 OFFICIAL!</marquee>
		</div>
	<div class="jumbotron m-0 pt-3" style="background: none;">
		<div class="row">
			<div class="col-lg-8 col-md-12">
				<div class="bg-info m-0 text-light border border-light rounded" style="padding: 10px 0px;">
					<a class="ml-3 btn btn-info" href="../" title="Về trang chủ"><i style="color: #fff;" class="fa fa-chevron-circle-left" aria-hidden="true"></i>
					<div style="display: inline; text-decoration: none; color: #fff;" class="">Trở về</div></a></div>
				<h3 class="mt-3">{{post_title}}</h3>
				<div><small class="text-muted"><i class="fa fa-clock-o"></i> {{post_time}} | <i class="fa fa-tag"></i> {{post_tag}}</small></div>
				
				<p class="mt-3 text-justify" id="post_content_place">{{post_content}}</p>
				<div class="text-right">
					<div class="fb-like" data-href="https://www.facebook.com/nvb99.fp" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-12" style="background: none !important;">
				<div class="p-3 bg-info m-0 text-light border border-light rounded">Danh mục bài viết</div>
				<div class="text-center">
					<hr>
					<h5>Theo dõi Fanpage để cập nhật những bài viết mới nhất!</h5>
					<div class="fb-page" data-href="https://www.facebook.com/nvb99.fp/" data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/nvb99.fp/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/nvb99.fp/">Tôi Là Dân IT</a></blockquote></div>
					<hr>
				</div>
				
				<div>
					<h5>Tìm kiếm bài viết</h5>
					<small class="badge bg-light">task manager</small>
					<small class="badge bg-light">windows 10</small>
					<small class="badge bg-light">thủ thuật</small>
				</div>
				<!-- Search Bar -->
				<div class="p-3">
					<input id="searchBar" class="form-control" ng-model="kwSearch" type="text" placeholder="Bạn muốn tìm gì?" />
				</div>
				<!-- Bottom of Search Bar -->
				<hr>
				<div dir-paginate="post in posts|filter:kwSearch|itemsPerPage:5">
					<div class="post clearfix">
						<div style="width: 150px; height: 150px; border-radius: 10px; background: url('{{post.image}}'); background-size: cover; float: left; margin: 8px; background-position: center;"></div>

						<a href="#" ng-click="readDetail(post)"><b>{{post.title}}</b></a>

						<br>

						<small>
							<span class="text-secondary">
								<!-- <img src="/img/new.gif" alt="" width="25px" /> -->
								<i class="fa fa-clock-o"></i> {{post.time}}</span>
						</small>

						<p class="text-justify">{{post.summary}} <a href="#" ng-click="readDetail(post)"><i>Xem thêm <span class="fa fa-angle-double-right"></span></i> </a></p>
					</div>
				</div>
				<dir-pagination-controls
				max-size="5"
				direction-links="true"
				boundary-links="false" >
				</dir-pagination-controls>
				
			</div>
		</div>
</div>
<!-- End Posts Section -->

<a href="#" id="backToTop" title="Về đầu trang"
            style="width: 60px; height: 60px; display: inline-block;
                position: fixed; bottom: 15px; right: 15px;
                background: url('../img/to-top-btn.png'); background-size: cover; transition: all 0.5s ease;">
                </a>
<footer>
            <a href="#" id="backToTop" title="Về đầu trang"
            style="width: 60px; height: 60px; display: inline-block;
                position: fixed; bottom: 15px; right: 15px;
                background: url('/img/to-top-btn.png'); background-size: cover; transition: all 0.5s ease;">
                </a>
            
            <div class="social-links">
                <a href="https://www.facebook.com/nvb99" title="Facebook"><i class="fa fa-facebook"></i></a>
                <a style="cursor: pointer;" onclick="window.open('mailto:bay.nv910@gmail.com');" title="Gmail"><i class="fa fa-envelope"></i></a> 
                <a href="https://www.youtube.com/channel/UCenKAwZF4tDoFdgJ4p9ajMw?sub_confirmation=1" title="Youtube"><i class="fa fa-youtube"></i></a> 
                <a href="https://github.com/nvb99" title="Github"><i class="fa fa-github"></i></a> 
            </div>


            <div>&copy; <span id="crYear"></span> <b> Powered by @nvb99</b></div>
        </footer>

</div>
<script type="text/javascript" src="lib/angular/angular-1.5.min.js"></script>  
<script type="text/javascript" src="lib/angular/angular-animate.min.js"></script>
<script type="text/javascript" src="lib/angular/angular-aria.min.js"></script>
<script type="text/javascript" src="lib/angular/angular-messages.min.js"></script>
<script type="text/javascript" src="lib/angular/angular-material.min.js"></script>
<script type="text/javascript" src="lib/angular/angular-route.min.js"></script>
<script type="text/javascript" src="lib/popper.min.js"></script>
<script type="text/javascript" src="lib/dirPagination.js"></script>
<script type="text/javascript" src="lib/jquery-3.4.1.slim.min.js"></script>
<script type="text/javascript" src="lib/jquery.min.js"></script>
<script type="text/javascript" src="lib/bootstrap/bootstrap.min.js"></script>

<!-- Facebook Addon -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0"></script>

<script>
	window.fbAsyncInit = function() {
		FB.init({
		xfbml            : true,
		version          : 'v8.0'
		});
	};

	(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
	fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	//103804091282096 100025121502956
	
	</script>

	<!-- Your Chat Plugin code -->
	<div class="fb-customerchat"
	attribution=setup_tool
	page_id="103804091282096"
	theme_color="#000055"
	logged_in_greeting="Xin chào! Tôi có thể giúp gì cho bạn?"
	logged_out_greeting="Xin chào! Tôi có thể giúp gì cho bạn?">
	</div>

<script defer src="src/main.js"></script>
</body>
</html>
